@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.card-body {
    background-color: rgb(172, 175, 240);
    margin:20px ;
    text-align: center;
    border: 3px;
 font-family: 'Indie Flower',cursive;
}