@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
header h1{
   text-align: center;
    font-family:Indie Flower,cursive;
    display: center;
}

header h2 {
    text-align: center;
    font-family:Indie Flower,cursive; 
    display: center;
}

.shortBox{
    display: inline-flex;
    background-color: black;
    width: 40%;
    height: 250px;
    border: solid;
    border-color: black;
    margin: 20px;
    text-decoration: none;
} 
.a-tag-headers2 {
    font-size: 60px;
    text-align: center;
    color: white;
    margin-left: 30px;
}
.headers {
    color: white;
}


#aboutMe {
    text-align: left;
    border: 3px ridge black;
    padding: 20px;
    margin: 50px 200px;
}

#aboutMe h2 {
    text-align: center;
}

#casey {
    height: 200px;
    width: 200px;
}

.sb1 {
    background-image: url(lodging\ dog.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sb2 {
    background-image: url(./dogs\ in\ rest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sb3 {
    background-image: url(./dogs\ in\ a\ park.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sb4 {
    background-image: url(./rot\ pups.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.carousal-item img {
    
    display:list-item;
    width:5%;
    height: 150px;
    
}

#flexboxes {
    align-items: center;
    margin: 0px 25px;



}